---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

import PrivacyConsent from "../forms/PrivacyConsent.astro";
import { siteText } from "../../data/siteText";

const modalText = siteText.sections.modal;
const forms = siteText.shared.forms;
---

<div class="modal" id="consultModal" aria-hidden="true">
  <div class="modal__overlay" data-close-modal></div>

  <div class="modal__content">
    <button class="modal__close" data-close-modal aria-label={modalText.closeAria}>✕</button
    >

    <h3 class="modal__title">{modalText.title}</h3>
    <p class="modal__subtitle">
      {modalText.subtitle}
    </p>

    <form class="modal__form" id="consultForm">
      <input type="text" name="name" placeholder={forms.namePlaceholder} required />
      <input
        type="text"
        name="contact"
        placeholder={forms.contactPlaceholder}
        required
      />

      <PrivacyConsent className="modal__consent" />

      <button type="submit" class="modal__submit">{forms.submitButton}</button>
    </form>
  </div>
</div>
