---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

import { siteText } from "../../data/siteText";
import { resolveAssetPath } from "../../data/assetMap";

const { hidden = false } = Astro.props;
const forms = siteText.shared.forms;
---

<div
  class="leadDock"
  id="lead-dock"
  data-reveal="off"
  aria-hidden={hidden ? "true" : "false"}
  style={hidden ? "display:none" : ""}
>
  <div class="container leadDock__inner">
    <form
      class="leadDock__form"
      id="lead-dock-form"
      action="#"
      method="post"
      novalidate
    >
      <div class="leadDock__intro">
        <img
          class="leadDock__icon"
          src={resolveAssetPath("img/forms/icon-handwrite-black.png")}
          alt=""
          loading="lazy"
          aria-hidden="true"
        />
        <div class="leadDock__introText">{forms.trialLeadTitle}</div>
      </div>

      <div class="leadDock__fields">
        <label class="leadDock__field floatField">
          <input
            class="fieldInput leadDock__input floatField__input"
            name="name"
            type="text"
            placeholder=" "
            autocomplete="name"
            required
          />
          <span class="floatField__label">{forms.nameLabel}</span>
        </label>

        <label class="leadDock__field floatField">
          <input
            class="fieldInput leadDock__input floatField__input"
            name="contact"
            type="text"
            placeholder=" "
            autocomplete="tel"
            required
          />
          <span class="floatField__label">{forms.contactLabel}</span>
        </label>
      </div>

      <button
        class="leadDock__btn leadDock__btn--modal"
        type="button"
        data-open-modal
      >
        <span class="leadDock__btnText">{forms.trialButton}</span>
        <span class="leadDock__btnIcon" aria-hidden="true">
          <img
            src={resolveAssetPath("img/forms/chinese-scroll.png")}
            alt=""
            loading="lazy"
            decoding="async"
          />
        </span>
      </button>

      <button class="leadDock__btn leadDock__btn--submit" type="submit">
        <span class="leadDock__btnText">{forms.trialButton}</span>
        <span class="leadDock__btnIcon" aria-hidden="true">
          <img
            src={resolveAssetPath("img/forms/chinese-scroll.png")}
            alt=""
            loading="lazy"
            decoding="async"
          />
        </span>
      </button>
    </form>
  </div>
</div>
